body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}


.navbar-links {
    display: flex;
    column-gap: 20px;
    background-color: #333;
    overflow: hidden;
}

.navbar-links a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar-links a:hover {
    background-color: #ddd;
    color: black;
}

.login-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

.login-container h2 {
    color: #333;
}

.login-form {
    margin-top: 20px;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.login-form button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
   cursor: pointer;
}

.login-form button:hover {
    background-color: #45a049;
}